<section>
    <h2>Docs</h2>
    <hr>
    <article>
        <h3>Sugerencias: </h3>
        <p>
            En nuestro proyecto, protegimos la mayor칤a de las rutas con 
            JWT, por lo que probar directamente las rutas protegidas 
            no ser칤a posible.
        </p>
        <p>
            Sugerimos probarlas directamente en la secci칩n TEST de <a href="https://healthupcac.netlify.app/" target="_blank">
            nuestra aplicaci칩n de front-end </a>. Para ello deber치 registrarse y logearse
            en la misma. Tambien puede probar los flujos de usuario de la misma,
            en ellos estar칤an funcionando tambi칠n todos los endpoints.
        </p>
        <p>
            Otra manera, es probar los archivos de extenci칩n ".rest" dentro de
            la carpeta "src/test" de nuestro proyecto, y habiendo ejecutado 
            la aplicaci칩n con un IDE y configurando la Base de Datos 
            (Solo conectarla, ya que sequelize deber칤a crear las tablas).
        </p>
        <p>
            Para m치s informaci칩n de como usar Rest Client haga click <a href="/rest-client">AQU칈</a>
        </p>
        <p>
            Cabe aclarar que us치ndo este m칠todo, deber치 tomarse la molestia de
            ejecutar las peticiones de Registrar y de Login desde los mismos 
            archivos ".rest", y que al logearse, deber치 copiar el 
            <code>accessToken</code> y pegarlo en el "Bearer" de las dem치s solicitudes.
            Es por esto que recomendamos que utilice nuestra aplicaci칩n 游뗵.
        </p>
    </article>
    <h3>Endpoints:</h3>
    <article>
        <ul>
            <li>
                "/api/v1/auth"
                <ul>
                    <span class="ok">
                        Rutas b치sicas sin token:
                    </span>
                    <li><b>POST "/register"</b></li>
                    <li><b>POST "/login"</b></li>
                    <!-- <li><b>DELETE </b></li>
                    <li><b>POST </b></li> -->
                    <hr>
                    <span class="error">
                        Rutas ADM protegidas por JWT:
                    </span>
                    <li><b>GET "/users"</b></li>
                    <li><b>GET "/users/id"</b></li>
                    <li><b>PUT "/users/id"</b></li>
                    <li><b>DELETE "/users/id"</b></li>
                    <hr>
                    <span class="error">
                        Rutas de ejemplo para pruebas, protegidas por JWT:
                    </span>
                    <li><b>GET "/protected"</b></li>
                    <li><b>POST "/protected"</b></li>
                </ul>
            </li>

            <li>
                "/api/v1/contact-messages"
                <ul>
                    <span class="ok">
                        Rutas de momento sin protecci칩n.
                    </span>
                    <li><b>GET "/"</b></li>
                    <li><b>GET "/id"</b></li>
                    <li><b>POST ""</b>
                        <span class="error">Este endpoint tiene validaci칩n por reCAPTCHA</span>
                    </li> 
                    <li><b>PUT "/id"</b></li>
                    <li><b>DELETE "/id"</b></li>
                </ul>
            </li>

            <li>
                "/api/v1/medical-studies"
                <ul>
                    <span class="error">
                        Rutas de Usuario personales, protegidas por JWT e 
                        identificaci칩n personal del usuario.
                    </span>
                    <li><b>GET ""</b></li>
                    <li><b>GET "/id"</b></li>
                    <li><b>POST ""</b></li>
                    <li><b>PUT "/id"</b></li>
                    <li><b>DELETE "/id"</b></li>
                </ul>
            </li>
            <li>
                "/api/v1/clinic-histories"
                <span class="error">
                    Rutas de Usuario personales, protegidas por JWT e 
                    identificaci칩n personal del usuario.
                </span>
                <ul>
                    <li><b>GET ""</b></li>
                    <li><b>GET "/user-clinic-history"</b></li>
                    <li><b>GET "/id"</b></li>
                    <li><b>POST ""</b></li>
                    <li><b>PUT "/id"</b></li>
                    <li><b>DELETE "/id"</b></li>
                </ul>
                <blockquote>
                    En este endpoint diferenciamos los get totales y por id, 
                    que ser칤an los que usar칤a por ejemplo un administrador, 
                    del endpoint que usar칤a cada usario para obtener unicamente
                    su propia historia cl칤nica.
                </blockquote>
            </li>
        </ul>
    </article>
    <h3>Base de datos:</h3>
    <img src="/img/db.png" width="500px" alt="Front screen-shoot">
</section>