<h1>Como usar Rest Client</h1>

<ol>
    <li>
        <p>
            Descargue la extención de Rest Client para VSC:
        </p>
        <img src="/img/rest/ext.png" width="500" alt="">
    </li>
    <li>
        <p>
            Cree un archivo de extención ".rest" (En nuestro proyecto, 
            dirigirse a la carpeta test y probar los archivos ya existentes)
        </p>
        <img src="/img/rest/file.png" width="500" alt="">
    </li>
    <li>
        <p>
            Dentro del archivo, utilice la sintaxis: <code>
                METODO URL
            </code> para crear una solicitud.
        </p>
        <p>
            Para crear varias solicitudes, deberán estar separadas entre sí
            por 3 hashtags ###
        </p>
        <p>
            Por encima del nombre del método, aparecera una legenda "send request"
            Esto es un boton para pulsar y enviar la solicitud.
        </p>
        <p>
            En caso de que lo necesita, debajo de la misma puede agregar headers y
            un payload
        </p>
        <img src="/img/rest/demo.png" alt="">
    </li>
</ol>