<header>
    <h1>HealthUp API</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/docs">Docs</a>
            </li>
            <li>
                <a href="/users">Usuarios registrados</a>
            </li>
        </ul>
    </nav>
</header>